<h1>Edit</h1>
<h3>User : <%= @allocated_leave.user.name %> </h3>

<div style="padding-right:600px; ">
  <%= form_for(@allocated_leave) do |form| %>

      <% if @allocated_leave.errors.full_messages.any? %>
          <% @allocated_leave.errors.full_messages.each do |error_message| %>
              <p class="alert alert-danger"> <%= error_message if @allocated_leave.errors.full_messages.first == error_message %> </p>
          <% break end %>
      <% end %>
      <div class="form-group">
        <%= form.label :year, class: "control-label" %>
        <%= form.select :year, Date.today.year.. 10.years.from_now.year, {}, {:multiple => false, class: "form-control"} %>
      </div>
      <br/>
      <div class="form-group">
        <%= form.label :total_leave, class: "control-label" %>
        <%= form.number_field :total_leave, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.submit 'Update', class: "btn btn-success" %> |
        <%= link_to "Back", allocated_leaves_path, class: "btn btn-dark" %>
      </div>
  <% end %>
</div>