
<%= link_to "Apply for Leave", new_leafe_path, class: "btn btn-dark", style: "float:right" %>


<% @number = @allocated_leaves.offset + 1 %>
<% if params[:search] %>
    <h1>List of Leave of Year : <%= params[:search] %> </h1>
<% else %>
    <h1>List of Leave of Year : <%= Date.today.year %> </h1>
<% end %>
<br>

<%= form_tag(allocated_leaves_path, :method => "get", class: "form-inline") do %>
    <%= select_tag "search", options_for_select(Date.today.years_ago(5).year.. 5.years.from_now.year), class: "form-control" %>
    &nbsp <%= submit_tag "Search", class: "btn btn-dark" %> &nbsp
    <%= link_to 'Reset', incomes_path, class: "btn btn-secondary" %>  &nbsp
<% end %>
<br>
<br>



<table class="table table-bordered">
  <tr>
    <th>Sl</th>
    <th>Employee Name</th>
    <th>Total Leave</th>
    <th>Used Leave</th>
    <th>Remaining Leave</th>
    <th style="text-align: center;">Action</th>
  </tr>

  <% @allocated_leaves.each do |al| %>
      <tr>
        <td><%= @number %> </td>
        <% @number+=1 %>
        <td>
          <%#= raise l.user.name %>
          <%= link_to al.user.name, show_all_allocated_leafe_path(al) %>
        </td>
        <td>
          <%= al.total_leave %>
        </td>
        <td>
          <%= al.used_leave %>
        </td>
        <td>
          <%= al.total_leave - al.used_leave %>
        </td>
        <td style="text-align: center;">
          <% if can? :read, al %>
              <%= link_to "Show", allocated_leafe_path(al) %>
          <% end %>
          <% if can? :write, al %>
              | <%= link_to "Edit", edit_allocated_leafe_path(al) %>
          <% end %>
          <% if can? :destroy, al %>
              | <%= link_to "Delete", allocated_leafe_path(al), method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
        </td>
      </tr>
  <% end %>

</table>
<br/>
<div class="form-group">
  <%= link_to "Back", :back, class: "btn btn-dark" %>
</div>
<div>
  <%= will_paginate @allocated_leaves, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>


