<% if current_user.employee? %>
  <%= link_to "Apply for Leave", new_leafe_path, class: "btn btn-dark", style: "float:right" %>
<% end %>
<% if current_user.admin? or current_user.super_admin? %>
  <%= link_to "Appoint Leave", new_allocated_leafe_path, class: "btn btn-dark", style: "float:right" %>
<% end %>


<% @number = @allocated_leaves.offset + 1 %>
<% if params[:search] %>
  <% @year = params[:search] %>
  <h1>List of Leave of Year : <%= params[:search] %> </h1>
<% else %>
  <% @year = Date.today.year %>
  <h1>List of Leave of Year : <%= Date.today.year %> </h1>
<% end %>
<br>

<%= form_tag(allocated_leaves_path, :method => "get", class: "form-inline") do %>
  <%= select_tag "search", options_for_select(Date.today.years_ago(5).year.. 5.years.from_now.year, :selected => @year), class: "form-control" %>
  &nbsp <%= submit_tag "Search", class: "btn btn-dark" %> &nbsp
  <%= link_to 'Reset', allocated_leaves_path, class: "btn btn-secondary" %>  &nbsp
<% end %>
<br>
<br>


<div class="table-responsive-sm">
  <table class="table table-bordered">
    <tr>
      <th>Sl</th>
      <th>Employee Name</th>
      <th>Total Leave</th>
      <th>Used Leave</th>
      <th>Remaining Leave</th>
      <th style="text-align: center;">Action</th>
    </tr>

    <% @allocated_leaves.each do |allocated_leafe| %>
      <tr>
        <td><%= @number %> </td>
        <% @number+=1 %>
        <td>
          <%#= raise l.user.name %>
          <%= link_to allocated_leafe.user.name, show_all_allocated_leafe_path(allocated_leafe) %>
        </td>
        <td>
          <%= allocated_leafe.total_leave %>
        </td>
        <td>
          <%= allocated_leafe.used_leave %>
        </td>
        <td>
          <%= allocated_leafe.total_leave - allocated_leafe.used_leave %>
        </td>
        <td style="text-align: center;">
          <% if can? :read, allocated_leafe %>
            <%= link_to allocated_leafe_path(allocated_leafe) do %>
              <i class="fa fa-eye" title="Show Details"></i>
            <% end %>
          <% end %>
          <% if can? :write, allocated_leafe %>
            |
            <%= link_to edit_allocated_leafe_path(allocated_leafe) do %>
              <i class="fa fa-edit" title="Edit"></i>
            <% end %>
          <% end %>
          <% if can? :destroy, allocated_leafe %>
            |
            <%= link_to allocated_leafe_path(allocated_leafe), method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="fa fa-trash" title="Drop"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>

  </table>
</div>
<br/>
<div class="form-group">
  <%= link_to "Back", :back, class: "btn btn-dark" %>
</div>
<div>
  <%= will_paginate @allocated_leaves, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>


