<div class="col-sm-5">
  <h1>Allocate Leave</h1>
  <%= form_for(@allocated_leafe, html: {autocomplete: 'off'}) do |allocated_leafe| %>
    <%= render partial: 'layouts/error_message', locals: {object: @allocated_leafe} %>

    <div>
      <%= allocated_leafe.label :user_id %> <br/>
      <%= collection_select(:allocated_leafe, :user_id, User.all, :id, :name, {}, {:multiple => false, class: "form-control"}) %>
    </div>
    <br/>
    <div class="form-group">
      <%= allocated_leafe.label :year, class: "control-label" %>
      <%= allocated_leafe.select :year, Date.today.years_ago(5).year.. 5.years.from_now.year, {:selected => Date.today.year}, {:multiple => false, class: "form-control"} %>
    </div>
    <br/>
    <div>
      <%= allocated_leafe.label :total_leave, class: 'control-label' %> <br/>
      <%= allocated_leafe.number_field :total_leave, class: 'form-control' %>
    </div>
    <br/>
    <div class="form-group">
      <%= allocated_leafe.submit 'Save', class: "btn btn-success" %> |
      <%= link_to "Back", allocated_leaves_path, class: "btn btn-dark" %>
    </div>

  <% end %>
</div>