<div class="container" style="padding-right: 600px; ">
  <h1>Ask for Leave</h1>
  <%= form_for(@allocated_leave) do |l| %>
      <% if @allocated_leave.errors.full_messages.any? %>
          <% @allocated_leave.errors.full_messages.each do |error_message| %>
              <p class="alert alert-danger"> <%= error_message if @allocated_leave.errors.full_messages.first == error_message %> </p>
          <% break end %>
      <% end %>
      <div>
        <%= l.label :user_id %> <br/>
        <%= collection_select(:allocated_leafe, :user_id, User.all, :id, :name, {}, {:multiple => false}) %>
      </div>
      <br/>
      <div>
        <%= l.label :total_leave, class: 'control-label' %> <br/>
        <%= l.number_field :total_leave, class: 'form-control' %>
      </div>
      <br/>
      <div class="form-group">
        <%= l.submit 'Save', class: "btn btn-success" %> |
        <%= link_to "Back", allocated_leaves_path, class: "btn btn-dark" %>
      </div>

  <% end %>
</div>