<h1>List of Leaves of <strong><%= @allocated_leave.user.name %></strong></h1>

<button class="accordion btn btn-warning">Pending (<%= @leaves_pending.count %>)</button>
<%= render partial: 'table', locals: {leaves: @leaves_pending} %>

<button class="accordion btn btn-success">Approved (<%= @leaves_approved.count %>)</button>
<%= render partial: 'table', locals: {leaves: @leaves_approved} %>

<button class="accordion btn btn-danger">Rejected (<%= @leaves_rejected.count %>)</button>
<%= render partial: 'table', locals: {leaves: @leaves_rejected} %>

<br/>
<div class="form-group">
  <%= link_to "Back", allocated_leaves_path, class: "btn btn-primary" %>
</div>

<%= javascript_pack_tag :accordion %>


