<div class="row">
  <div class="col-sm-6">
    <h1>Details</h1>
    <p class="text-success"><%= flash[:notices] %></p>
    <ul class="list-group">
      <li class="list-group-item"><b>Employee : </b><%= @allocated_leave.user.name %></li>
      <li class="list-group-item"><b>Leave for Year : </b><%= @allocated_leave.year %></li>
      <li class="list-group-item"><b>Total Leave : </b><%= @allocated_leave.total_leave %></li>
      <li class="list-group-item"><b>Used Leave : </b><%= @allocated_leave.used_leave %></li>
      <li class="list-group-item">
        <b>Remaining Leaves : </b><%= @allocated_leave.total_leave - @allocated_leave.used_leave %></li>
    </ul>

  </div>
  <div class="col-sm-6" style="margin-top: 15px;">
    <br> <br>
    <ul class="list-group">
      <li class="list-group-item"><b>Personal Leaves : </b><%= @allocated_personal %></li>
      <li class="list-group-item"><b>Training Leaves : </b><%= @allocated_training %></li>
      <li class="list-group-item"><b>Vacation Leaves: </b><%= @allocated_vacation %></li>
      <li class="list-group-item"><b>Medical Leaves : </b><%= @allocated_medical %></li>
    </ul>
    <br>
  </div>
</div>
<br>
<div class="form-group">
  <%= link_to "Back", allocated_leaves_path, class: "btn btn-dark" %>
</div>
