<tr>
  <td><%= @number %> </td>
  <% @number+=1 %>
  <td><%= expense.product_name %></td>
  <td><%= expense.user.name %></td>
  <td><%= expense.cost %></td>
  <td><%= expense.status %></td>
  <td>

    <% if can? :approve, expense %>
        <% if expense.status==Expense::APPROVED %>
            <%= link_to "Undo", approve_expense_path(expense), method: :put, data: {confirm: 'Are you sure to approve?'} %> /
        <% else %>
            <%= link_to "Approve", approve_expense_path(expense), method: :put, data: {confirm: 'Are you sure to approve?'} %> /
        <% end %>
    <% end %>

    <% if can? :reject, expense %>
       <%= link_to "Reject", reject_expense_path(expense), method: :put, data: {confirm: 'Are you sure to approve?'} %> /
    <% end %>

    <% if can? :read, expense %>
    <%= link_to "Show", expense_path(expense) %>
    <% end %>

    <% if can? :update, expense %>
        / <%= link_to "Edit", edit_expense_path(expense) %>
    <% end %>
    <% if can? :delete, expense %>
        / <%= link_to "Delete", expense_path(expense), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>

  </td>
</tr>