<div class="panel">
  <br>
  <%= form_tag(expense_path, :method => "get",class: "form-inline") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search by Name or Month",class:"form-control" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <br>
  <% @number=expenses.offset + 1 %>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Sl</th>
      <th>Name</th>
      <th>Employee</th>
      <th>Cost</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <% expenses.each do |expense| %>
        <%= render partial: 'row', locals: {expense: expense} %>
    <% end %>
  </table>
<%= will_paginate expenses, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>