<h1>Edit Budget Information</h1>
<div class="col-sm-5">
  <%= form_for(@budget) do |budget| %>

    <%= render partial: 'layouts/error_message', locals: {object: @budget} %>


    <div class="form-group">
      <%= budget.label :year, class: "control-label" %>
      <%= budget.select :year, Date.today.year.. 10.years.from_now.year, {}, {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= budget.label :month %>
      <%= budget.select :month, Date::MONTHNAMES.compact.zip([*1..12]).to_h, {}, {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= budget.label :amount, class: "control-label" %>
      <%= budget.text_field :amount, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= budget.label :add, 'Add More Budget', class: "control-label" %>
      <%= budget.text_field :add, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= budget.submit 'Submit', class: "btn btn-success" %> |
      <%= link_to "Back", budgets_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>