<h1>Budget List for <%= @year %></h1>

<%= form_tag(budgets_path, :method => "get", class: "form-inline") do %>
  <%= select_tag "search", options_for_select(Date.today.years_ago(4).year.. 4.years.from_now.year, :selected => @year), class: "form-control" %>
  &nbsp <%= submit_tag "Search", class: "btn btn-dark" %> &nbsp
  <%= link_to 'Reset', budgets_path, class: "btn btn-secondary" %>  &nbsp
<% end %>
<br>

<% @number = @budgets.offset + 1 %>
<div class="table-responsive-sm">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Sl</th>
      <th>Month</th>
      <th>Amount</th>
      <th>Remaining</th>
      <th style="text-align: center;">Action</th>
    </tr>
    </thead>

    <% @budget_amount.each do |budget| %>
      <tr>
        <%#= raise budget.first.inspect %>
        <td><%= @number %> </td>
        <% @number += 1 %>
        <td><%= link_to "#{Date::MONTHNAMES[budget.first]}", show_all_budgets_path(month: budget.first, year: @year) %></td>
        <td><%= taka(budget.second) %></td>
        <td><%= taka(budget.second - @budget_expense[budget.first].second) %></td>
        <td style="text-align: center;">
          <%= link_to show_all_expenses_budgets_path(month: budget.first, year: @year) do %>
            <i class="fa fa-money" title="Show Expenses"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate @budgets, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

<div class="form-group">
  <%= link_to "Back", root_path, class: "btn btn-dark" %>
</div>
