
<%= link_to "Add Budget information", new_budget_path, class: "btn btn-dark" %>
<br><br>

<div class="row">
  <div class="col-sm">
    <%= form_tag(budgets_path, :method => "get") do %>
        <div class="row">
          <div class="col-sm-6">
            <%= text_field_tag :search, params[:search], placeholder: "Search by Name or Month", class: "form-control" %>
          </div>
        </div>
        <br>
        <div class="row container">
          <%= submit_tag 'Search', class: "btn btn-dark " %> &nbsp
          <%= link_to 'Reset', budgets_path, class: "btn btn-secondary" %>
        </div>
    <% end %>
  </div>
</div>
<br>


<% @number=@budgets.offset + 1 %>
<h1>Budget List</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Sl</th>
    <th>Year - Month</th>
    <th>Amount</th>
    <th>Expense</th>
    <th>Remaining</th>
    <th>Admin</th>
    <th>Action</th>
  </tr>
  </thead>

  <% @budgets.each do |budget| %>
      <tr>
        <td><%= @number %> </td>
        <% @number+=1 %>
        <td><%= budget.month %></td>
        <td><%= taka(budget.amount) %></td>
        <td><%= taka(budget.expense) %></td>
        <td><%=  taka(budget.amount-budget.expense) %></td>
        <td><%= budget.user.name %></td>
        <% if current_user.role==User::ADMIN %>
            <td>
              <%= link_to "Show Expenses", budget_path(budget) %> /
              <%= link_to "Edit", edit_budget_path(budget) %> /
              <%= link_to "Delete", budget_path(budget), method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
        <% else %>
            <td> <%= link_to "Show", budget_path(budget) %> </td>
        <% end %>
      </tr>
  <% end %>
</table>
<%= will_paginate @budgets, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<div class="form-group">
  <%= link_to "Back", root_path, class: "btn btn-dark" %>
</div>
