<%= link_to "Add Budget", new_budget_path, class: "btn btn-dark", style: "float:right" %>
<h1>Budget List for <%= @year %></h1>

<%= form_tag(budgets_path, :method => "get", class: "form-inline") do %>
  <%= select_tag "search", options_for_select(Date.today.years_ago(4).year.. 4.years.from_now.year, :selected => @year), class: "form-control" %>
  &nbsp <%= submit_tag "Search", class: "btn btn-dark" %> &nbsp
  <%= link_to 'Reset', budgets_path, class: "btn btn-secondary" %>  &nbsp
<% end %>
<br>

<% @number=@budgets.offset + 1 %>
<div class="table-responsive-sm">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Sl</th>
      <th>Month / Year</th>
      <th>Amount</th>
      <th>Expense</th>
      <th>Remaining</th>
      <th>Admin</th>
      <th style="text-align: center;">Action</th>
    </tr>
    </thead>

    <% @budgets.each do |budget| %>
      <tr>
        <td><%= @number %> </td>
        <% @number+=1 %>
        <td><%= "#{Date::MONTHNAMES[budget.month]}, #{budget.year}" %></td>
        <td><%= taka(budget.amount) %></td>
        <td><%= taka(budget.expense) %></td>
        <td><%= taka(budget.amount - budget.expense) %></td>
        <td><%= budget.user.name %></td>
        <td style="text-align: center;">
          <%= link_to show_all_expenses_budget_path(budget) do %>
            <i class="fa fa-money" title="Show Expenses"></i>
          <% end %>
          |
          <%= link_to edit_budget_path(budget) do %>
            <i class="fa fa-edit" title="Edit"></i>
          <% end %>
          |
          <%= link_to budget_path(budget), method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="fa fa-trash" title="Drop"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate @budgets, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

<div class="form-group">
  <%= link_to "Back", root_path, class: "btn btn-dark" %>
</div>
