<h1>Insert Budget Information</h1>
<div style="padding-right:600px; ">
<%= form_for(@budget)  do |form| %>

    <% if @budget.errors.full_messages.any? %>
        <% @budget.errors.full_messages.each do |error_message| %>
            <p class="alert alert-danger"> <%= error_message if @budget.errors.full_messages.first == error_message %> </p>
        <% break end %>
    <% end %>

    <div class="form-group">
      <%= form.label :year, class: "control-label" %>
      <%= form.select :year, Date.today.year.. 10.years.from_now.year %>
    </div>

    <div class="form-group">
      <%= form.label :month %>
      <%= form.select :month, Date::MONTHNAMES[1..12]%>
    </div>

    <div class="form-group">
      <%= form.label :amount, class: "control-label" %>
      <%= form.text_field :amount, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.submit 'Submit', class: "btn btn-success" %> |
      <%= link_to "Back", budgets_path, class: "btn btn-primary" %>
    </div>
<% end %>
</div>