<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h2 style="padding-left: 20px;">Office Expense Management System</h2>

<style>
  .btn {
    background-color: #a4d6ed;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.4s;
    font-weight: 900;
  }

  .btn:hover {
    background-color: #4ebbed;
    font-weight: 900;
  }

</style>

<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to "User Information", manage_users_path ,class: "nav-link text-dark btn" %>
    </li>
    <li class="nav-item">
      <%= link_to "Budget Information", budgets_path ,class: "nav-link text-dark btn" %>
    </li>
    <li class="nav-item">
      <%= link_to "Expense Information", expenses_path,class: "nav-link text-dark btn"  %>
    </li>
    <li class="nav-item">
      <%= link_to "Apply for Leave", new_leafe_path,class: "nav-link text-dark btn"  %>
    </li>
  </ul>
</nav>
<br>
