<% if user_signed_in? %>
    <h3 class="container col-md-6">Welcome <%= current_user.name %> </h3>
<% end %>
<br>
<br>
<% if current_user.role == User::ADMIN or current_user.role == User::SUPER_ADMIN %>
    <div class="row">
      <div class="container col-sm-6">
        <h4 class="container col-md-5">Budget Statistics</h4><br>
        <%= line_chart Budget.group(:month).sum(:expense), label: "Total Expense", min: 0, xtitle: "Month", ytitle: "Expense", width: "500px", height: "350px" %>
      </div>
      <div class="container col-sm-6">
        <h4 class="container col-md-5">Revenue Graph</h4><br>
        <canvas id="bar-chart-grouped" width="800" height="450" responsive="true"></canvas>
      </div>
    </div>
<% end %>

<script>
  var m = <%=raw @income_arr.slice(1..12) %>
  var n = <%=raw @expense_arr.slice(1..12) %>
  var months = <%=raw @months %>
    <%#= raise @income_arr.inspect %>
    new Chart(document.getElementById("bar-chart-grouped"), {
        type: 'bar',
        data: {

            labels: months,
            datasets: [
                {
                    label: "Incomes",
                    backgroundColor: "#3e95cd",
                    data: m
                }, {
                    label: "Expenses",
                    backgroundColor: "#8e5ea2",
                    data: n
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Incomes VS Expenses'
            },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
    });
</script>
