<td>
  <%= taka(l.amount) %>
</td>
<td>
  <%= full_date(l.income_date) %>
</td>
<td>
  <%= l.source %>
</td>
<td style="text-align: center;">
  <% if current_user.role == User::ADMIN %>
    <% if l.status == Income::APPROVED %>
      <%= link_to approve_income_path(l), method: :put, data: {confirm: 'Are you sure?'} do %>
        <i class="fa fa-undo" title="Undo"></i>
      <% end %>
      |
      <%= link_to income_path(l) do %>
        <i class="fa fa-eye" title="Show Details"></i>
      <% end %>
    <% elsif l.status == Income::REJECTED %>
      <%= link_to income_path(l) do %>
        <i class="fa fa-eye" title="Show Details"></i>
      <% end %>
      |
      <%= link_to income_path(l), method: :delete, data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-trash" title="Drop"></i>
      <% end %>
    <% else %>
      <%= link_to approve_income_path(l), method: :put, data: {confirm: 'Are you sure to Approve?'} do %>
        <i class="fa fa-check" title="Approve"></i>
      <% end %>
      |
      <%= link_to reject_income_path(l), method: :put, data: {confirm: 'Are you sure to Reject?'} do %>
        <i class="fa fa-ban" title="Reject"></i>
      <% end %>
      |
      <%= link_to income_path(l) do %>
        <i class="fa fa-eye" title="Show Details"></i>
      <% end %>
      <% if l.user_id==current_user.id %>
        |
        <%= link_to edit_income_path(l) do %>
          <i class="fa fa-edit" title="Edit"></i>
        <% end %>
        |
        <%= link_to income_path(l), method: :delete, data: {confirm: "Are you sure?"} do %>
          <i class="fa fa-trash" title="Drop"></i>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to "Show", income_path(l) %>
    <% if l.status == Income::PENDING and current_user.id==l.user.id %>
      | <%= link_to edit_income_path(l) do %>
        <i class="fa fa-edit" title="Edit"></i>
      <% end %>
      |
      <%= link_to income_path(l), method: :delete, data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-trash" title="Drop"></i>
      <% end %>
    <% end %>
  <% end %>
</td>
