
<td>
  <%= taka(l.amount) %>
</td>
<td>
  <%= full_date(l.income_date) %>
</td>
<td>
  <%= l.source %>
</td>
<td style="text-align: center;">
  <% if current_user.role == User::ADMIN %>
      <% if l.status == Income::APPROVED %>
          <%= link_to "Undo", approve_income_path(l), method: :put, data: {confirm: 'Are you sure to Approve?'} %>
          |
          <%= link_to "Show", income_path(l) %>
      <% elsif l.status == Income::REJECTED %>
          <%= link_to "Show", income_path(l) %> |
          <%= link_to "Delete", income_path(l), method: :delete, data: {confirm: "Are you sure?"} %>
      <% else %>
          <%= link_to "Approve", approve_income_path(l), method: :put, data: {confirm: 'Are you sure to Approve?'} %>
          |
          <%= link_to "Reject", reject_income_path(l), method: :put, data: {confirm: 'Are you sure to Reject?'} %>
          |
          <%= link_to "Show", income_path(l) %>
          <% if l.user_id==current_user.id %>
              | <%= link_to "Edit", edit_income_path(l) %> |
              <%= link_to "Delete", income_path(l), method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
      <% end %>
  <% else %>
      <%= link_to "Show", income_path(l) %>
      <% if l.status == Income::PENDING and current_user.id==l.user.id %>
          | <%= link_to "Edit", edit_income_path(l) %> |
          <%= link_to "Delete", income_path(l), method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
  <% end %>
</td>
