<div class="table-responsive-sm">
  <br>
  <table class="table table-bordered">
    <tr>
      <th>Employee Name</th>
      <% Date::MONTHNAMES.slice(1, 12).each do |month| %>
        <th><%= month[0..2].upcase %></th>
      <% end %>
      <th>TOTAL</th>
    </tr>

    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.name, show_all_incomes_manage_user_path(id: user.id, year: params[:search]) %>
        </td>
        <% Income::MONTHS.each do |month| %>
          <td>
            <% income = @all_incomes[user.id][month] %>
            <% if income > 0 %>
              <%= link_to income, show_all_incomes_manage_user_path(id: user.id, month: month, year: params[:search]), class: find_klass(income, user.target_amount) %>
              <% @monthly_totals[month] += income.to_i %>
            <% else %>
              <%= income %>
            <% end %>
          </td>
        <% end %>
        <td>
          <% total_income = @total_income_per_user[user.id] %>
          <% @monthly_totals[0] += total_income %>
          <strong><%= total_income %></strong>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <strong>Monthly Total</strong>
      </td>
      <% @monthly_totals.slice(1, 12).each do |mt| %>
        <td>
          <strong><%= mt %></strong>
        </td>
      <% end %>
      <td>
        <strong><%= @monthly_totals[0] %></strong>
      </td>
    </tr>
  </table>

</div>
