<h1>Edit</h1>
<h3>User: <%= @income.user.name %> </h3>

<div class="col-md-5">
  <%= form_for(@income) do |income| %>

    <%= render partial: 'layouts/error_message', locals: {object: @income} %>


    <div>
      <%= income.label :amount, class: 'control-label' %> <br/>
      <%= income.number_field :amount, class: 'form-control' %>
    </div>
    <br/>
    <div>
      <%= income.label :income_date, class: 'control-label' %> <br/>
      <%= income.text_field :income_date, class: 'form-control', id: "datepicker", placeholder: "yyyy-mm-dd" %>
    </div>
    <br/>
    <div class="form-group">
      <%= income.label :source, class: "control-label" %> <br/>
      <%= income.select(:source, Income::SOURCE, {}, {class: "form-control"}) %>
    </div>
    <br/>
    <div class="form-group">
      <%= income.submit 'Update', class: "btn btn-success" %> |
      <%= link_to "Back", :back, class: "btn btn-dark" %>
    </div>
  <% end %>
</div>