<h1>Edit</h1>
<h3>User : <%= @income.user.name %> </h3>

<div style="padding-right:600px; ">
  <%= form_for(@income) do |l| %>

      <% if @income.errors.full_messages.any? %>
          <% @income.errors.full_messages.each do |error_message| %>
              <p class="alert alert-danger"> <%= error_message if @income.errors.full_messages.first == error_message %> </p>
          <% break end %>
      <% end %>

      <div>
        <%= l.label :amount, class: 'control-label' %> <br/>
        <%= l.number_field :amount, class: 'form-control' %>
      </div>
      <br/>
      <div>
        <%= l.label :income_date, class: 'control-label' %> <br/>
        <%= l.text_field :income_date, class: 'form-control',id: "datepicker" %>
      </div>
      <br/>
      <div class="form-group">
        <%= l.submit 'Update', class: "btn btn-success" %> |
        <%= link_to "Back", :back, class: "btn btn-dark" %>
      </div>
  <% end %>
</div>