<%= link_to "Add Income", new_income_path, class: "btn btn-dark", style: "float:right" %>

<% if current_user.admin? or current_user.super_admin? %>
  <% if params[:search].nil? %>
    <h1>All Income List of <%= Date.today.year %> </h1>
    <% @year = Date.today.year %>
  <% else %>
    <h1>All Income List of <%= params[:search] %> </h1>
    <% @year = params[:search] %>
  <% end %>
<% else %>
  <h1>Your Income List</h1>
<% end %>
<br>
<%= form_tag(incomes_path, :method => "get", class: "form-inline") do %>
  <%= select_tag "search", options_for_select(Date.today.years_ago(10).year.. Date.today.year, :selected => @year), class: "form-control" %>
  &nbsp <%= submit_tag "Search", class: "btn btn-dark" %> &nbsp
  <%= link_to 'Reset', incomes_path, class: "btn btn-secondary" %>  &nbsp
<% end %>
<br>

<button class="accordion btn btn-info" data-toggle="collapse" data-target="#income">All Incomes</button>
<div class="collapse show in" id="income">
  <%= render partial: 'all_income_table', locals: {users: @users_income} %>
  <div>
    <%= will_paginate @users_income, :param_name => 'users_incomes', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
<br>
<br>
<button class="accordion btn btn-info" data-toggle="collapse" data-target="#bonus">All Bonuses</button>
<div class="collapse in" id="bonus">
  <%= render partial: 'all_bonus_table', locals: {users: @users_bonus} %>
  <div>
    <%= will_paginate @users_bonus, :param_name => 'users_bonuses', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>

<div class="form-group">
  <br>
  <%= link_to "Back", root_path, class: "btn btn-dark" %>
</div>




