<div class="col-sm-5">

  <h1>Add Income</h1>
  <%= form_for(@income, html: {autocomplete: 'off'}) do |income| %>

    <%= render partial: 'layouts/error_message', locals: {object: @income} %>

    <br/>
    <div class="form-group">
      <%= income.label :amount, class: "control-label" %> <br/>
      <%= income.number_field :amount, class: "form-control" %>
    </div>
    <br/>
    <div class="form-group">
      <%= income.label :income_date, class: "control-label" %> <br/>
      <%= income.text_field :income_date, class: "form-control", id: "datepicker", placeholder: "yyyy-mm-dd" %>
    </div>
    <br/>
    <div class="form-group">
      <%= income.label :source, class: "control-label" %> <br/>
      <%= income.select(:source, Income::SOURCE, {}, {class: "form-control"}) %>
    </div>
    <br/>
    <div class="form-group">
      <%= income.submit 'Save', class: "btn btn-success" %> |
      <%= link_to "Back", :back, class: "btn btn-dark" %>
    </div>

  <% end %>
</div>


