<div style="padding-right: 700px;">
  <h1>Details of Income</h1>
  <p class="text-success"><%= flash[:notices] %></p>
  <ul class="list-group">
    <li class="list-group-item"><b>Employee : </b><%= @income.user.name %></li>
    <li class="list-group-item"><b>Income Amount : </b><%= taka(@income.amount) %></li>
    <li class="list-group-item"><b>Income Date : </b><%= full_date(@income.income_date) %></li>
    <li class="list-group-item"><b>Income Source : </b><%= @income.source %></li>
    <li class="list-group-item"><b>Status : </b><%= @income.status %></li>
    <% if @income.Approved? %>
        <li class="list-group-item"><b>Approved at : </b><%= full_date_with_time(@income.approve_time) %></li>
    <% end %>
  </ul>
  <br>
  <div class="form-group">
    <%= link_to "Back", :back, class: "btn btn-dark" %>
  </div>
</div>