<%= link_to "Add Income", new_income_path, class: "btn btn-dark", style: "float:right" %>


<% if params[:month] %>
  <% if params[:year] %>
    <h1>Income List of <%= @user.name %> of <%= Date::MONTHNAMES[params[:month].to_i] %>
      , <%= params[:year] %> </h1>
    <br/>
  <% else %>
    <h1>Income List of <%= @user.name %> of <%= Date::MONTHNAMES[params[:month].to_i] %>
      , <%= Date.today.year %> </h1>
    <br/>
  <% end %>
  <% if @bonus_amount > 0 %>
    <h2>Hurrah!! You are getting <%= taka(@bonus_amount) %> BONUS!! </h2>
  <% end %>
<% else %>
  <% if params[:year] %>
    <h1>All Income List of <%= @user.name %> of year <%= params[:year] %> </h1> <br/>
  <% else %>
    <h1>All Income List of <%= @user.name %> of year <%= Date.today.year %> </h1> <br/>
  <% end %>
<% end %>

<button class="accordion btn btn-warning" data-toggle="collapse" data-target="#pending">Pending
  (<%= @incomes_pending.count %>)
</button>
<div class="collapse show in" id="pending">
  <%= render partial: 'table', locals: {incomes: @incomes_pending} %>
  <div>
    <%= will_paginate @incomes_pending, :param_name => 'pending_incomes', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
<br>
<br>

<button class="accordion btn btn-success" data-toggle="collapse" data-target="#approved">Approved
  (<%= @incomes_approved.count %>)
</button>
<div class="collapse in" id="approved">
  <%= render partial: 'table', locals: {incomes: @incomes_approved} %>
  <div>
    <%= will_paginate @incomes_approved, :param_name => 'approved_incomes', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
<br>
<br>

<button class="accordion btn btn-danger" data-toggle="collapse" data-target="#rejected">Rejected
  (<%= @incomes_rejected.count %>)
</button>
<div class="collapse in" id="rejected">
  <%= render partial: 'table', locals: {incomes: @incomes_rejected} %>
  <div>
    <%= will_paginate @incomes_rejected, :param_name => 'rejected_incomes', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>

<div class="form-group">
  <br>
  <%= link_to "Back", :back, class: "btn btn-dark" %>
</div>

