<h1>Edit</h1>
<h3>User : <%= @leave.user.name %> </h3>

<div style="padding-right:600px; ">
  <%= form_for(@leave) do |form| %>

      <% if @leave.errors.full_messages.any? %>
          <% @leave.errors.full_messages.each do |error_message| %>
              <p class="alert alert-danger"> <%= error_message if @leave.errors.full_messages.first == error_message %> </p>
          <% break end %>
      <% end %>

      <div class="form-group">
        <%= form.label :start_date, class: "control-label" %>
        <%= form.text_field :start_date, class: "form-control",id: "datepicker" , placeholder: "yyyy-mm-yy"%>
      </div>

      <div class="form-group">
        <%= form.label :end_date %>
        <%= form.text_field :end_date, class: "form-control",id: "datepicker2", placeholder: "yyyy-mm-yy" %>
      </div>

      <div class="form-group">
        <%= form.label :reason, class: "control-label" %>
        <%= form.text_area :reason, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :leave_type, class: "control-label" %>
        <%= form.select(:leave_type, Leafe::LEAVE_TYPE) %>
      </div>

      <div class="form-group">
        <%= form.submit 'Update', class: "btn btn-success" %> |
        <%= link_to "Back", :back, class: "btn btn-dark" %>
      </div>
  <% end %>
</div>