<h1>Edit</h1>
<h3>User: <%= @leafe.user.name %> </h3>

<div class="col-sm-5">
  <%= form_for(@leafe) do |leafe| %>

    <%= render partial: 'layouts/error_message', locals: {object: @leafe} %>


    <div class="form-group">
      <%= leafe.label :start_date, class: "control-label" %>
      <%= leafe.text_field :start_date, class: "form-control", id: "datepicker", placeholder: "yyyy-mm-dd" %>
    </div>

    <div class="form-group">
      <%= leafe.label :end_date %>
      <%= leafe.text_field :end_date, class: "form-control", id: "datepicker2", placeholder: "yyyy-mm-dd" %>
    </div>

    <div class="form-group">
      <%= leafe.label :reason, class: "control-label" %>
      <%= leafe.text_area :reason, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= leafe.label :leave_type, class: "control-label" %>
      <%= leafe.select(:leave_type, Leafe::LEAVE_TYPES, {}, {class: "form-control"}) %>
    </div>

    <div class="form-group">
      <%= leafe.submit 'Update', class: "btn btn-success" %> |
      <%= link_to "Back", :back, class: "btn btn-dark" %>
    </div>
  <% end %>
</div>