<% if current_user.role == User::EMPLOYEE %>
  <%= link_to "Apply for Leave", new_leafe_path, class: "btn btn-dark", style: "float:right" %>
<% end %>
<h1>All Leave Requests</h1>
<div class="row">
  <div class="col-sm">
    <%= form_tag(leaves_path, :method => "get") do %>
      <div class="row">
        <div class="col-sm-6">
          <%= text_field_tag :search, params[:search], placeholder: "Search by Name or Month", class: "form-control" %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-3">
          <%= text_field_tag :from, params[:from], :selected => params[:from], class: "form-control", id: "datepicker", placeholder: "yyyy-mm-yy" %>
          <br>
        </div>
        <div class="col-sm-3">
          <%= text_field_tag :to, params[:to], :selected => params[:to], class: "form-control", id: "datepicker", placeholder: "yyyy-mm-yy" %>
          <br>
        </div>
      </div>

      <div class="row container">
        <%= submit_tag 'Search', class: "btn btn-dark " %> &nbsp
        <%= link_to 'Reset', leaves_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
<br>

<button class="accordion btn btn-warning" data-toggle="collapse" data-target="#demo">Pending(<%= @leaves_pending.count %>)</button>
<div class="collapse show in" id="demo">
  <%= render partial: 'table', locals: {leaves: @leaves_pending} %>
</div>
<br>
<br>

<button class="accordion btn btn-success" data-toggle="collapse" data-target="#demo1">Approved(<%= @leaves_approved.count %>)</button>
<div class="collapse in" id="demo1">
  <%= render partial: 'table', locals: {leaves: @leaves_approved} %>
</div>
<br>
<br>

<button class="accordion btn btn-danger" data-toggle="collapse" data-target="#demo2">Rejected(<%= @leaves_rejected.count %>)</button>
<div class="collapse in" id="demo2">
  <%= render partial: 'table', locals: {leaves: @leaves_rejected} %>
</div>

<div class="form-group">
  <br>
  <%= link_to "Back", allocated_leaves_path, class: "btn btn-dark" %>
</div>



