<div class="col-sm-5">
  <h1>Apply for Leave</h1>
  <%= form_for(@leafe, html: {autocomplete: 'off'}) do |leafe| %>

    <%= render partial: 'layouts/error_message', locals: {object: @leafe} %>

    <br>
    <div>
      <%= leafe.label :start_date, class: 'control-label' %> <br/>
      <%= leafe.text_field :start_date, class: 'form-control', id: "datepicker", placeholder: "yyyy-mm-dd" %>
    </div>
    <br/>
    <div>
      <%= leafe.label :end_date, class: 'control-label' %> <br/>
      <%= leafe.text_field :end_date, class: 'form-control', id: "datepicker2", placeholder: "yyyy-mm-dd" %>
    </div>
    <br/>
    <div>
      <%= leafe.label :reason, class: 'control-label' %> <br/>
      <%= leafe.text_area :reason, class: 'form-control' %>
    </div>
    <br/>
    <div>
      <%= leafe.label :Leave_type %> <br/>
      <%= leafe.select(:leave_type, Leafe::LEAVE_TYPES, {}, {class: "form-control"}) %>
    </div>
    <br/>
    <div class="form-group">
      <%= leafe.submit 'Save', class: "btn btn-success" %> |
      <%= link_to "Back", :back, class: "btn btn-dark" %>
    </div>

  <% end %>
</div>