<div class="col-sm-5" >
  <h1>Apply for Leave</h1>
  <%= form_for(@leave, html: {autocomplete: 'off'}) do |l| %>

      <% if @leave.errors.full_messages.any? %>
          <% @leave.errors.full_messages.each do |error_message| %>
              <p class="alert alert-danger"> <%= error_message if @leave.errors.full_messages.first == error_message %> </p>
          <% break end %>
      <% end %>

      <div>
        <h3>User : <%= @leave.user.name %></h3>
      </div>
      <br/>
      <div>
        <%= l.label :start_date, class: 'control-label' %> <br/>
        <%= l.text_field :start_date, class: 'form-control',id: "datepicker" , placeholder: "yyyy-mm-yy" %>
      </div>
      <br/>
      <div>
        <%= l.label :end_date, class: 'control-label' %> <br/>
        <%= l.text_field :end_date, class: 'form-control',id: "datepicker2", placeholder: "yyyy-mm-yy" %>
      </div>
      <br/>
      <div>
        <%= l.label :reason, class: 'control-label' %> <br/>
        <%= l.text_area :reason, class: 'form-control' %>
      </div>
      <br/>
      <div>
        <%= l.label :Leave_type %> <br/>
        <%= l.select(:leave_type, Leafe::LEAVE_TYPES, {}, {class: "form-control"}) %>
      </div>
      <br/>
      <div class="form-group">
        <%= l.submit 'Save', class: "btn btn-success" %> |
        <%= link_to "Back", :back, class: "btn btn-dark" %>
      </div>

<% end %>
</div>