<div class="container" style="padding-right: 600px; ">
  <h1>Apply for Leave</h1>
  <%= form_for(@leave) do |l| %>
      <div>
        <h3>User : <%= current_user.name %></h3>
      </div>
      <br/>
      <div>
        <%= l.label :start_date, class: 'control-label' %> <br/>
        <%= l.date_field :start_date, class: 'form-control' %>
      </div>
      <br/>
      <div>
        <%= l.label :end_date, class: 'control-label' %> <br/>
        <%= l.date_field :end_date, class: 'form-control' %>
      </div>
      <br/>
      <div>
        <%= l.label :reason, class: 'control-label' %> <br/>
        <%= l.text_area :reason, class: 'form-control' %>
      </div>
      <br/>
      <div>
        <%= l.label :Leave_type %> <br/>
        <%= l.select(:leave_type, Leafe::LEAVE_TYPE) %>
      </div>
      <br/>
      <div class="form-group">
        <%= l.submit 'Save', class: "btn btn-success" %> |
        <%= link_to "Back", allocated_leaves_path, class: "btn btn-primary" %>
      </div>

<% end %>
</div>