<div class="col-md-5">
  <h1>Details</h1>
  <p class="text-success"><%= flash[:notices] %></p>
  <ul class="list-group">
    <li class="list-group-item"><b>Employee: </b><%= @leafe.user.name %></li>
    <li class="list-group-item"><b>From: </b><%= @leafe.start_date %></li>
    <li class="list-group-item"><b>To: </b><%= @leafe.end_date %></li>
    <li class="list-group-item"><b>Leave Type: </b><%= @leafe.leave_type %></li>
    <li class="list-group-item"><b>Reason: </b><%= @leafe.reason %></li>
    <li class="list-group-item"><b>Status: </b><%= @leafe.status %></li>
    <% if @leafe.approved? %>
      <li class="list-group-item"><b>Approved at: </b><%= full_date_with_time(@leafe.updated_at) %></li>
    <% end %>
  </ul>
  <br>
  <div class="form-group">
    <%= link_to "Back", :back, class: "btn btn-dark" %>
  </div>
</div>