<tr>
  <td><%= @number %> </td>
  <% @number += 1 %>
  <td><%= expense.product_name %></td>
  <td><%= expense.user.name %></td>
  <td><%= taka(expense.cost) %></td>
  <td style="text-align: center;">

    <% if can? :approve, expense %>
      <% if expense.approved? %>
        <%= link_to approve_expense_path(expense), method: :put, data: {confirm: 'Are you sure?'} do %>
          <i class="fa fa-undo" title="Undo"></i>
        <% end %>
        |
      <% else %>
        <%= link_to approve_expense_path(expense), method: :put, data: {confirm: 'Are you sure to Approve?'} do %>
          <i class="fa fa-check" title="Approve"></i>
        <% end %>
        |
      <% end %>
    <% end %>

    <% if can? :reject, expense %>
      <%= link_to reject_expense_path(expense), method: :put, data: {confirm: 'Are you sure to Reject?'} do %>
        <i class="fa fa-ban" title="Reject"></i>
      <% end %>
      |
    <% end %>

    <% if can? :read, expense %>
      <%= link_to expense_path(expense) do %>
        <i class="fa fa-eye" title="Show Details"></i>
      <% end %>
    <% end %>

    <% if can? :update, expense %>
      |
      <%= link_to edit_expense_path(expense) do %>
        <i class="fa fa-edit" title="Edit"></i>
      <% end %>
    <% end %>
    <% if can? :delete, expense %>
      |
      <%= link_to expense_path(expense), method: :delete, data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-trash" title="Drop"></i>
      <% end %>
    <% end %>

  </td>
</tr>