<%= javascript_pack_tag :edit_image %>

<h2>Edit User Information</h2>
<div class="col-sm-5">
  <%= form_for @user, url: manage_user_path(@user) do |user| %>

    <%= render partial: 'layouts/error_message', locals: {object: @user} %>


    <div class="form-group">
      <%= user.label :email, class: "control-label" %><br/>
      <%= user.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= user.label :name, class: "control-label" %>
      <%= user.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= user.label :phone, class: "control-label" %>
      <%= user.phone_field :phone, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= user.label :target_amount, 'Target Amount', class: "control-label" %>
      <%= user.text_field :target_amount, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= user.label :bonus_percentage, 'Bonus Percentage', class: "control-label" %>
      <%= user.text_field :bonus_percentage, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= user.label :image, 'Image', class: "control-label" %>
      <%= user.file_field :image, class: "form-control" %>
    </div>

    <% if current_user.super_admin? %>
      <div class="form-group">
        <%= user.label :role %>
        <%= user.select(:role, User::ROLE_LIST, {}, {class: "form-control"}) %>
      </div>
      <div class="form-group">
        <%= user.label :designation %>
        <%= user.select(:designation, User::DESIGNATION_LIST, {}, {class: "form-control"}) %>
      </div>
    <% end %>

    <div class="form-group">
      <%= user.submit 'Update', class: "btn btn-success" %> |
      <%= link_to "Back", manage_users_path, class: "btn btn-dark" %>
    </div>
  <% end %>
</div>

