<%= link_to "Add User", new_manage_user_path, class: "btn btn-dark", style: "float:right" %>

<h1>Employee List</h1>
<div class="row">
  <div class="col-sm">
    <%= form_tag(manage_users_path, :method => "get") do %>
      <div class="row">
        <div class="col-sm-6">
          <%= text_field_tag :search, params[:search], placeholder: "Search by Name or Month", class: "form-control", autocomplete: :off %>
        </div>
      </div>
      <br>
      <div class="row container">
        <%= submit_tag 'Search', class: "btn btn-dark " %> &nbsp
        <%= link_to 'Reset', manage_users_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
<br>

<% @number = @users.offset + 1 %>
<div class="table-responsive-sm">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Sl</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Role</th>
      <!--<th>Image</th>-->
      <th style="text-align: center;">Action</th>

    </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= @number %> </td>
        <% @number += 1 %>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.role %></td>

        <% if current_user.admin? or current_user.super_admin? %>
          <td style="text-align: center;">
            <%= link_to manage_user_path(user) do %>
              <i class="fa fa-eye" title="Show Details"></i>
            <% end %>
            |
            <%= link_to show_all_manage_user_path(user) do %>
              <i class="fa fa-money" title="Show All Expenses"></i>
            <% end %>
            |
            <%= link_to edit_manage_user_path(user) do %>
              <i class="fa fa-edit" title="Edit"></i>
            <% end %>
            |
            <%= link_to manage_user_path(user), method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="fa fa-trash" title="Drop"></i>
            <% end %>
          </td>
        <% else %>
          <%= link_to manage_user_path(user) do %>
            <i class="fa fa-eye" title="Show Details"></i>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<strong><%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></strong>

<div class="form-group">
  <%= link_to "Back", root_path, class: "btn btn-dark" %>
</div>

