<% if current_user.role==User::ADMIN %>
    <%= link_to "Add User information", new_manage_user_path, class:"btn btn-primary" %>
<% end %>
<% @number=1 %>
<h1>User List</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Role</th>
    <th>Action</th>

  </tr>
  </thead>

  <% @users.each do |user| %>
      <tr>
        <td><%= @number %> </td>
        <% @number+=1 %>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.role %></td>
        <% if current_user.role==User::ADMIN %>
            <td>
              <%= link_to "Show", manage_user_path(user) %> /
              <%= link_to "Edit", edit_manage_user_path(user) %> /
              <%= link_to "Delete", manage_user_path(user), method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
        <% else %>
            <td><%= link_to "Show", manage_user_path(user) %></td>
        <% end %>
      </tr>
  <% end %>
</table>
<div class="form-group">
  <%= link_to "Back", root_path, class: "btn btn-primary" %>
</div>
