<% if current_user.role==User::ADMIN %>
    <%= link_to "Add User information", new_manage_user_path, class: "btn btn-dark" %>
    <br><br>
<% end %>

<div class="row">
  <div class="col-sm">
    <%= form_tag(manage_users_path, :method => "get") do %>
        <div class="row">
          <div class="col-sm-6">
            <%= text_field_tag :search, params[:search], placeholder: "Search by Name or Month", class: "form-control" %>
          </div>
        </div>
        <br>
        <div class="row container">
          <%= submit_tag 'Search', class: "btn btn-dark " %> &nbsp
          <%= link_to 'Reset', manage_users_path, class: "btn btn-secondary" %>
        </div>
    <% end %>
  </div>
</div>
<br>

<% @number = @users.offset + 1 %>
<h1>User List</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Sl</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Role</th>
    <!--<th>Image</th>-->
    <th>Action</th>

  </tr>
  </thead>

  <% @users.each do |user| %>
      <tr>
        <td><%= @number %> </td>
        <% @number+=1 %>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.role %></td>
        <!--<td><%= image_tag(user.image.url, :size => "50x50") if user.image.exists? %> </td>-->

        <% if current_user.role==User::ADMIN %>
            <td>
              <%= link_to "Show", manage_user_path(user) %> /
              <%= link_to "Show all expenses", show_all_manage_user_path(user) %> /
              <%= link_to "Edit", edit_manage_user_path(user) %> /
              <%= link_to "Delete", manage_user_path(user), method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
        <% else %>
            <td><%= link_to "Show", manage_user_path(user) %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<strong><%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></strong>

<div class="form-group">
  <%= link_to "Back", root_path, class: "btn btn-dark" %>
</div>

