<h2>Sign up</h2>
<div style="padding-right:600px; ">
  <%= form_for @user, url: manage_users_path(@user) do |f| %>

      <div class="field">
        <%= f.label :email, class: "control-label" %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "control-label" %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "control-label" %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :name, class: "control-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>


      <div class="form-group">
        <%= f.label :phone, class: "control-label" %>
        <%= f.phone_field :phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :role %>
        <%= f.select(:role, User::ROLE_LIST) %>
      </div>

      <br>
      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>

  <% end %>
  <br>
  <%= link_to "Back", manage_users_path %>
</div>

