<h2>Create a new User</h2>

<div>
  <%= form_for @user, url: manage_users_path(@user) do |f| %>

      <% if @user.errors.full_messages.any? %>
          <% @user.errors.full_messages.each do |error_message| %>
              <p class="alert alert-danger"> <%= error_message if @user.errors.full_messages.first == error_message %> </p>
          <% break end %>
      <% end %>

      <div class="form-group">
        <%= f.label :email, class: "control-label" %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "control-label" %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "control-label" %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :name, class: "control-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>


      <div class="form-group">
        <%= f.label :phone, class: "control-label" %>
        <%= f.phone_field :phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :image, 'Image', class: "control-label" %>
        <%= f.file_field :image, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :role %>
        <%= f.select(:role, User::ROLE_LIST) %>
      </div>

      <div class="form-group">
        <%= f.submit 'Create new user', class: "btn btn-success" %> |
        <%= link_to "Back", manage_users_path, class: "btn btn-primary" %>
      </div>

  <% end %>
</div>

