<h1>Search Result for <%= @user.name %></h1>

<br>
<%= form_tag(show_all_manage_user_path, :method => "get",class: "form-inline") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search by Name or Month",class:"form-control" %>
    &nbsp <%= submit_tag "Search", class: "btn btn-dark" %> &nbsp
    <%= link_to 'Reset', show_all_manage_user_path , class: "btn btn-secondary" %>
<% end %>
<br>


<%= form_tag(search_by_date_manage_user_path, :method => "get", class: "form-inline", style: "float:left") do %>
    <%= date_field_tag :from, params[:from], class: "form-control" %> &nbsp
    <%= date_field_tag :to, params[:to], class: "form-control" %> &nbsp
    <%= submit_tag 'Search', class: 'btn btn-dark' %> &nbsp
    <%= link_to 'Reset', show_all_manage_user_path , class: "btn btn-secondary" %>
<% end %>

<br>
<br>
<br>

<button class="accordion btn btn-warning">Pending (<%= @pending_expenses.count %>) </button>
<%= render partial: 'table', locals: {expenses: @pending_expenses} %>
<br>

<button class="accordion btn btn-success">Approved (<%= @approved_expenses.count %>)</button>
<%= render partial: 'table', locals: {expenses: @approved_expenses} %>
<br>

<button class="accordion btn btn-danger">Rejected (<%= @rejected_expenses.count %>)</button>
<%= render partial: 'table', locals: {expenses: @rejected_expenses} %>


<div class="form-group">
  <br>
  <%= link_to "Back", budgets_path, class: "btn btn-dark" %>
</div>


<%= javascript_pack_tag :accordion %>