
<button class="accordion btn btn-warning">Pending Expenses <strong>(<%= @all_pending_expenses.count %>)</strong></button>
<%= render partial: 'table', locals: {expenses: @all_pending_expenses} %>
<br>
<button class="accordion btn btn-warning">Pending Leaves <strong>(<%= @all_pending_leaves.count %>)</strong></button>
<%= render partial: 'leaves/table', locals: {leaves: @all_pending_leaves} %>
<br>

<div class="form-group">
  <br>
  <%= link_to "Back", root_path, class: "btn btn-dark" %>
</div>


<%= javascript_pack_tag :accordion %>