<div class="row">
  <div class="col-sm">
    <div class="card" style="width: 28rem;">
      <div class="card-body">
        <h3 class="card-title">Expense List for <%= @user.name %></h3>
      </div>
      <hr>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Total Expense: <b><%= taka(@expense_for_user) %> </b></li>
        <li class="list-group-item">Total Approved: <b><%= @approved_expenses.count %></b></li>
        <li class="list-group-item">Total Pending: <b><%= @pending_expenses.count %></b></li>
        <li class="list-group-item">Total Rejected: <b><%= @rejected_expenses.count %></b></li>
      </ul>
    </div>
  </div>
  <div class="col-sm">
    <%= form_tag(show_all_manage_user_path, :method => "get") do %>
        <div class="row">
          <div class="col-sm-12">
            <%= text_field_tag :search, params[:search], placeholder: "Search by Name or Month", class: "form-control" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-6">
            <%= text_field_tag :from, params[:from], class: "form-control", id:"datepicker" ,placeholder: "yyyy-mm-yy" %> <br>
          </div>
          <div class="col-sm-6">
            <%= text_field_tag :to, params[:to], class: "form-control" ,id: "datepicker2" , placeholder: "yyyy-mm-yy" %> <br>
          </div>
        </div>

        <div class="row container">
          <%= submit_tag 'Search', class: "btn btn-dark " %> &nbsp
          <%= link_to 'Reset', show_all_manage_user_path, class: "btn btn-secondary" %>
        </div>
    <% end %>
  </div>
</div>

<br>
<br>
<br>

<button class="accordion btn btn-warning" data-toggle="collapse" data-target="#pending">Pending (<%= @pending_expenses.count %>)</button>
<div  class="collapse show in" id="pending">
  <%= render partial: 'table', locals: {expenses: @pending_expenses} %>
  <div>
    <%= will_paginate @pending_expenses, :param_name => 'pending_expenses', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
<br>
<br>

<button class="accordion btn btn-success" data-toggle="collapse" data-target="#approved">Approved (<%= @approved_expenses.count %>)</button>
<div  class="collapse in" id="approved">
  <%= render partial: 'table', locals: {expenses: @approved_expenses} %>
  <div>
    <%= will_paginate @approved_expenses, :param_name => 'approved_expenses', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
<br>
<br>


<button class="accordion btn btn-danger" data-toggle="collapse" data-target="#rejected">Rejected (<%= @rejected_expenses.count %>)</button>
<div  class="collapse in" id="rejected">
  <%= render partial: 'table', locals: {expenses: @rejected_expenses} %>
  <div>
    <%= will_paginate @rejected_expenses, :param_name => 'rejected_expenses', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>


<div class="form-group">
  <br>
  <%= link_to "Back", manage_users_path, class: "btn btn-dark" %>
</div>
