<h1>All pending Resources</h1>


<button class="accordion btn btn-warning" data-toggle="collapse" data-target="#Expenses">Pending Expenses
  <strong>(<%= @all_pending_expenses.count %>)</strong></button>
<div class="collapse show in" id="Expenses">
  <%= render partial: 'expenses/table', locals: {expenses: @all_pending_expenses} %>
  <div>
    <%= will_paginate @all_pending_expenses, :param_name => 'pending_expenses', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
<br>
<br>

<button class="accordion btn btn-success" data-toggle="collapse" data-target="#Leaves">Pending Leaves
  <strong>(<%= @all_pending_leaves.count %>)</strong></button>
<div class="collapse in" id="Leaves">
  <%= render partial: 'leaves/table', locals: {leaves: @all_pending_leaves} %>
  <div>
    <%= will_paginate @all_pending_leaves, :param_name => 'pending_leaves', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
<br>
<br>


<button class="accordion btn btn-danger" data-toggle="collapse" data-target="#Incomes">Pending Incomes
  <strong>(<%= @all_pending_incomes.count %>)</strong></button>
<div class="collapse in" id="Incomes">
  <%= render partial: 'incomes/table', locals: {incomes: @all_pending_incomes} %>
  <div>
    <%= will_paginate @all_pending_incomes, :param_name => 'pending_incomes', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
<div class="form-group">
  <br>
  <%= link_to "Back", root_path, class: "btn btn-dark" %>
</div>
