
<%= link_to "Add Income", new_income_path, class: "btn btn-dark", style: "float:right" %>


<h1>Your Income List</h1> <br/>
<button class="accordion btn btn-success">Approved (<%= @incomes_approved.count %>)</button>
<%= render partial: 'incomes/table', locals: {incomes: @incomes_approved} %>

<button class="accordion btn btn-warning">Pending (<%= @incomes_pending.count %>)</button>
<%= render partial: 'incomes/table', locals: {incomes: @incomes_pending} %>

<button class="accordion btn btn-danger">Rejected (<%= @incomes_rejected.count %>)</button>
<%= render partial: 'incomes/table', locals: {incomes: @incomes_rejected} %>

<br/>
<div class="form-group">
  <%= link_to "Back", incomes_path, class: "btn btn-dark" %>
</div>


<%= javascript_pack_tag :accordion %>



