<h2>Budget Categories </h2> <br>
<% @number=@categories.offset + 1 %>
<div class="table-responsive-sm">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Sl</th>
      <th>Category Name</th>
      <th style="text-align: center;">Action</th>
    </tr>
    </thead>

    <% @categories.each do |category| %>
      <tr>
        <td><%= @number %> </td>
        <% @number+=1 %>
        <td><%= category.category_name %></td>

        <td style="text-align: center;">

          <%= link_to edit_category_path(category) do %>
            <i class="fa fa-edit" title="Edit"></i>
          <% end %>
          |
          <%= link_to category_path(category), method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="fa fa-trash" title="Drop"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate @categories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

<div class="form-group">
  <%= link_to "Back", root_path, class: "btn btn-dark" %>
</div>
