<tr>
  <td><%= @number %> </td>
  <% @number+=1 %>
  <td><%= expense.product_name %></td>
  <td><%= expense.user.name %></td>
  <td><%= expense.cost %></td>
  <td><%= image_tag(expense.image.url, :size => "50x50") if expense.image.exists? %> </td>
  <td><%= expense.status %></td>
  <td>
    <% if current_user.role==User::ADMIN %>
        <% if expense.status==Expense::APPROVED %>
            <%= link_to "Undo", approve_expense_path(expense), method: :put, data: {confirm: 'Are you sure to approve?'} %>
            /
            <%= link_to "Show", expense_path(expense) %>
        <% else %>
            <%= link_to "Approve", approve_expense_path(expense), method: :put, data: {confirm: 'Are you sure to approve?'} %>
            /
            <%= link_to "Show", expense_path(expense) %>
            <% if expense.user_id==current_user.id %>
                / <%= link_to "Edit", edit_expense_path(expense) %> /
                <%= link_to "Delete", expense_path(expense), method: :delete, data: {confirm: "Are you sure?"} %>
            <% end %>
        <% end %>
    <% else %>
        <%= link_to "Show", expense_path(expense) %>
        <% if expense.status!=Expense::APPROVED and current_user.id==expense.user.id %>
            / <%= link_to "Edit", edit_expense_path(expense) %> /
            <%= link_to "Delete", expense_path(expense), method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
    <% end %>


  </td>
</tr>