<script>
    function myFunction()
    {
        var cancel_image = document.getElementById("cancel_image");
        var cancel_show = document.getElementById("cancel_show");
        if(cancel_image.checked == false)
        {
            cancel_show.style.display = "block";
            cancel_show.style.opacity = "1";
        }
        else
        {
            var txt;
            if (confirm("Are you sure ?"))
            {
                txt = 1;
            }
            else
            {
                txt = 0;
            }
            if(txt == 1)
            {
                cancel_show.style.display = "block";
                cancel_show.style.opacity = ".3";
            }
            else
            {
                cancel_image.checked = false;
            }
        }
    }
</script>

<h1>Edit Expense Information</h1>


<div style="padding-right:600px; ">
  <%= form_for(@expense) do |form| %>

      <% if @expense.errors.full_messages.any? %>
          <% @expense.errors.full_messages.each do |error_message| %>
              <p class="alert alert-danger"> <%= error_message if @expense.errors.full_messages.first == error_message %> </p>
          <% break end %>
      <% end %>

      <div class="form-group">
        <%= form.label :product_name, class: "control-label" %>
        <%= form.text_field :product_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :category %>
        <%= form.select(:category, Expense::CATEGORY_LIST) %>
      </div>

      <div class="form-group">
        <%= form.label :cost, class: "control-label" %>
        <%= form.text_field :cost, class: "form-control" %>
      </div>

      <div class="form-group" id="cancel_show">
        <%= image_tag(@expense.image.url,:size => "100x100") if @expense.image.exists? %>
        <%= form.check_box :remove_image, style: "margin-left : 10px; position: absolute;",id: "cancel_image",onclick:"myFunction()" if @expense.image.exists? %>
      </div>

      <div class="form-group">
        <%= form.label :image, 'Image', class: "control-label" %>
        <%= form.file_field :image, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :details, class: "control-label" %>
        <%= form.text_area :details, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.submit 'Update', class: "btn btn-success" %> |
        <%= link_to "Back", expenses_path, class: "btn btn-primary" %>
      </div>
  <% end %>
</div>