<div class="row">
  <% if @budgets.present? && current_user.super_admin?%>
      <div class="col-md-4" style="min-width: 45%;">
        <div class="d-flex flex-column">
          <div class="mb-4">
            <h4>Expenses of <%= "#{Date.today.strftime("%b")}, #{Date.today.year}" %></h4>
          </div>
          <div class="d-flex flex-row justify-content-start flex  rap">
            <div class="mr-5">
              <b>Total Budget: </b><%= taka(@total_amount) %>
            </div>
            <div class="mr-5">
              <b>Expense: </b><%= taka(@total_expense) %>
            </div>
            <div style="position: relative;">
              <b>Remaining: </b><%= taka(@total_amount - @total_expense) %>
              <i id="expense-modal-arrow" class="fa fa-caret-down ml-2" aria-hidden="true"></i>
              <div id="expense-modal-background"></div>
              <div id="expense-modal">
                <ul>
                  <% @budgets.each do |budget| %>
                      <li><%= budget.category.name %>: <%= taka(budget.amount - budget.expense) %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>

  <div class="col-md-4" style="float: right;">
    <%= form_tag(expenses_path, :method => "get", :autocomplete => "off") do %>
        <div class="row">
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                <%= text_field_tag :search, params[:search], placeholder: "Search by Name or Month", class: "form-control" %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-6">
                <%= text_field_tag :from, params[:from], :selected => params[:from], class: "form-control", id: "datepicker", placeholder: "yyyy-mm-dd" %>
                <br>
              </div>
              <div class="col-6">
                <%= text_field_tag :to, params[:to], :selected => params[:to], class: "form-control", id: "datepicker2", placeholder: "yyyy-mm-dd" %>
                <br>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="row container">
              <%= submit_tag 'Search', class: "btn btn-dark " %> &nbsp
              <%= link_to 'Reset', expenses_path, class: "btn btn-secondary" %>
            </div>
          </div>
        </div>

    <% end %>
  </div>
</div>

<br>

<button class="accordion btn btn-success" data-toggle="collapse" data-target="#approved">Approved
  (<%= @approved_expenses.count %>)
</button>
<div class="collapse show in" id="approved">
  <%= render partial: 'table', locals: {expenses: @approved_expenses} %>
  <div>
    <%= will_paginate @approved_expenses, :param_name => 'approved_expenses', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
<br>
<br>

<button class="accordion btn btn-warning" data-toggle="collapse" data-target="#pending">Pending
  (<%= @pending_expenses.count %>)
</button>
<div class="collapse show in" id="pending">
  <%= render partial: 'table', locals: {expenses: @pending_expenses} %>
  <div>
    <%= will_paginate @pending_expenses, :param_name => 'pending_expenses', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>

<br>
<br>



<button class="accordion btn btn-danger" data-toggle="collapse" data-target="#rejected">Rejected
  (<%= @rejected_expenses.count %>)
</button>
<div class="collapse show in" id="rejected">
  <%= render partial: 'table', locals: {expenses: @rejected_expenses} %>
  <div>
    <%= will_paginate @rejected_expenses, :param_name => 'rejected_expenses', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>


<div class="form-group">
  <br>
  <%= link_to "Back", root_path, class: "btn btn-dark" %>
</div>


<script>
    $(document).ready(function () {

        $('#expense-modal-background').click(function () {
           if ($('#expense-modal').is(':visible')){
               $('#expense-modal-arrow').removeClass('fa-caret-up');
               $('#expense-modal-arrow').addClass('fa-caret-down');
               $('#expense-modal').slideToggle();
               $(this).hide();
           }
        });

        $('#expense-modal').click(function () {
           return false;
        });

        $('#expense-modal-arrow').click(function () {
            if ($(this).hasClass('fa-caret-down')){
                $(this).removeClass('fa-caret-down');
                $(this).addClass('fa-caret-up');
            }
            else if ($(this).hasClass('fa-caret-up')){
                $(this).removeClass('fa-caret-up');
                $(this).addClass('fa-caret-down');
            }
            $('#expense-modal-background').show();
            $('#expense-modal').slideToggle();
        });
    });
</script>