<div style="padding-right: 700px;">
  <h1>Show Details</h1>
  <ul class="list-group">
    <li class="list-group-item"><b>Name : </b><%= @expense.product_name %></li>
    <li class="list-group-item"><b>Category : </b><%= @expense.category %></li>
    <li class="list-group-item"><b>Cost : </b><%= @expense.cost %></li>
    <li class="list-group-item"><b>Details : </b><%= @expense.details %></li>
    <li class="list-group-item"><b>Employee : </b><%= @expense.user.name %></li>
    <li class="list-group-item"><b>Status : </b><%= @expense.status %></li>
    <li class="list-group-item"><b>Time : </b><%= @expense.created_at %></li>
    <li class="list-group-item"><b>Approve Time : </b><%=full_date(@expense.approve_time) %></li>
  </ul>
  <br>
  <div class="form-group">
    <%= link_to "Back", :back, fallback_location: root_path, class: "btn btn-primary" %>
  </div>
</div>