<div class="card col-md-6">
  <% if @expense.image.exists? %>
    <br>
    <%= image_tag(@expense.image.url, :class => "card-img-top") %>
    <hr>
  <% end %>

  <div class="card-body">
    <h4 class="card-title">Employee: <b> <%= @expense.user.name %> </b> </h4>
    <h4 class="card-title">Product: <b> <%= @expense.product_name %> </b> </h4>
    <% if @expense.details.present? %>
      <h5 class="card-text"><b>Details: </b> <%= @expense.details %></h5>
    <% end %>
  </div>
  <hr>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Cost: </b> <%= taka(@expense.cost) %> </li>
    <li class="list-group-item"><b>Category: </b> <%= @expense.category.name %></li>
  </ul>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Status: </b> <%= @expense.status.to_s.camelcase %></li>
    <% if @expense.approved? %>
      <li class="list-group-item"><b>Approve Time: </b> <%= full_date_with_time(@expense.updated_at) %></li>
    <% end %>
  </ul>

</div>
<br>
<div class="form-group">
  <%= link_to "Back", :back, fallback_location: expenses_path, class: "btn btn-dark" %>
</div>