<h1>All Users</h1>

<button class="accordion btn btn-success">Available Employees (<%= @attendances_available.count %>)</button>
<div class="panel">
  <table class="table table-bordered">
    <tr>
      <th>Employee</th>
      <th>Check In Time</th>
    </tr>
    <% @attendances_available.each do |l| %>
        <tr>
          <td>
            <%= l.user.name %>
          </td>
          <td>
            <%= only_time(l.created_at) %>
          </td>
        </tr>
    <% end %>
  </table>

  <div>
    <%= will_paginate @attendances_available, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>

<button class="accordion btn btn-secondary">Unavailable Employees (<%= @attendances_unavailable.count %>)</button>
<div class="panel">
  <table class="table table-bordered">
    <tr>
      <th>Employee</th>
      <th>Check In Time</th>
      <th>Check Out Time</th>
      <th>Total Time Spent</th>
    </tr>
    <% @attendances_unavailable.each do |l| %>
        <tr>
          <td>
            <%= l.user.name %>
          </td>
          <td>
            <%= only_time(l.created_at) %>
          </td>
          <td>
            <%= only_time(l.updated_at) %>
          </td>
          <td>
            <%= distance_of_time_in_words(l.updated_at - l.created_at) %>
          </td>
        </tr>
    <% end %>
  </table>

  <div>
    <%= will_paginate @attendances_unavailable, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>

<br/>
<div class="form-group">
  <%= link_to "Back", allocated_leaves_path, class: "btn btn-primary" %>
</div>


<%= javascript_pack_tag :accordion %>
