<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag "rc.png", :class => 'keep-logo', :size => "80x50" %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <% if can? :show, User %>
            <li class="nav-item">
              <div>
                <div class="dropdown" >
                  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong> Employee </strong>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= link_to "Add new employee", new_manage_user_path, class: 'dropdown-item' %>
                    <%= link_to "Employees", manage_users_path, class: 'dropdown-item' %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>

          <% if can? :show, Budget %>
            <li class="nav-item">
              <div>
                <div class="dropdown">
                  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong data-toggle="tooltips" data-html=true title="<%= budget_hint.html_safe %>"> Budget </strong>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= link_to "Add new budget", new_budget_path, class: 'dropdown-item' %>
                    <%= link_to "Add new Category", new_category_path, class: 'dropdown-item' %>
                    <%= link_to "Budget categories", categories_path, class: 'dropdown-item' %>
                    <%= link_to "Budgets", budgets_path, class: 'dropdown-item' %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>

          <% if can? :show, Expense %>
            <li class="nav-item">
              <div>
                <div class="dropdown" >
                  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong> Expense </strong>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= link_to "Add new expense", new_expense_path, class: 'dropdown-item' %>
                    <%= link_to "Expenses", expenses_path, class: 'dropdown-item' %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>

          <% if can? :show, Income %>
            <li class="nav-item">
              <div>
                <div class="dropdown" >
                  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong> Income </strong>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= link_to "Add new income", new_income_path, class: 'dropdown-item' %>
                    <% if current_user.admin? || current_user.super_admin? %>
                      <%= link_to "Incomes", incomes_path, class: 'dropdown-item' %>
                    <% else %>
                      <%= link_to "Incomes", show_all_incomes_manage_user_path(id: current_user.id), class: 'dropdown-item' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>

          <% if can? :show, Leafe %>
            <li class="nav-item">
              <div>
                <div class="dropdown">
                  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong> Leave </strong>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= link_to "Apply for Leave", new_leafe_path, class: 'dropdown-item' %>
                    <% if current_user.admin? || current_user.super_admin? %>
                      <%= link_to "Appointed Leaves", allocated_leaves_path, class: 'dropdown-item' %>
                      <%= link_to "Leave Requests", leaves_path, class: 'dropdown-item' %>
                    <% else %>
                      <%= link_to "Leaves", leaves_path, class: 'dropdown-item' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>

          <li class="nav-item">
            <div>
              <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <strong> <%= current_user.name %> </strong>
                  <% if current_user.admin? || current_user.super_admin? %>
                    <%= see_pending_request %>
                  <% end %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <%= check_in_out %>
                  <% if current_user.admin? || current_user.super_admin? %>
                    <%= link_to show_all_pending_manage_users_path, class: 'dropdown-item' do %>
                      <div>Pending Request &nbsp <%= see_pending_request %></div>
                    <% end %>
                    <%= link_to "Availability", attendances_path, class: 'dropdown-item' %>
                  <% end %>
                  <%= link_to "Edit Profile", edit_user_registration_path, class: 'dropdown-item' %>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<br>
<div class="container-fluid" id="flash_msg">
  <% flash.each do |key, value| %>
    <% if key=="alert" %>
      <%= content_tag(:div, value, class: "alert alert-danger") %>
    <% elsif key=="notice" %>
      <%= content_tag(:div, value, class: "alert alert-success") %>
    <% elsif key=="warning" %>
      <%= content_tag(:div, value, class: "alert alert-warning") %>
    <% end %>
  <% end %>
</div>


<script type="text/javascript" charset="utf-8">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });

  setTimeout(function () {
    $('#flash_msg').slideUp('slow');
  }, 3000);
</script>