<!DOCTYPE html>
<html>
<head>
  <title>Ems</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <div style="padding-right: 20px; padding-left: 20px;">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
        <div style="margin-left: 870px;">
          Welcome <strong><%= current_user.name %></strong>,
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </div>
    <% else %>
        <div style="margin-left: 900px;">
        <%= link_to "Signin", new_user_session_path %>
        </div>
    <% end %>
    <br>
    <%= yield %>
  </div>
</div>
</body>
</html>
